name: Weekly dataset updates
on:
  workflow_dispatch: # allow manual triggering
  schedule:
    - cron: "0 0 * * 0"  # Every Sunday at midnight

jobs:
  fetch_and_index:
    strategy:
      fail-fast: false
      matrix:
        datasource: ${{ fromJson(vars.WEEKLY_DATASOURCES) }}

    uses: ./.github/workflows/fetch-and-index-datasource.yml
    with:
      datasource: ${{ matrix.datasource }}
    secrets: inherit
