name: Update Pinecone Index

on:
  workflow_dispatch: # manual triggering only
    inputs:
      datasource:
        description: 'The datasource to reindex'
        type: choice
        options:
          - all
          - agentmodels
          - agisf
          - aisafety.info
          - alignment_newsletter
          - alignmentforum
          - arbital
          - arxiv
          - blogs
          - distill
          - eaforum
          - indices
          - lesswrong
          - special_docs
          - youtube
      force_update:
        description: 'Force full reindex (ignoring pinecone_status)'
        type: boolean
        default: false

jobs:
  update_pinecone:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Python environment
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Update Pinecone index
      env:
        ARD_DB_USER: ${{ secrets.ARD_DB_USER }}
        ARD_DB_PASSWORD: ${{ secrets.ARD_DB_PASSWORD }}
        ARD_DB_HOST: ${{ secrets.ARD_DB_HOST }}
        ARD_DB_NAME: alignment_research_dataset
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        PINECONE_API_KEY: ${{ secrets.PINECONE_API_KEY }}
        PINECONE_ENVIRONMENT: ${{ secrets.PINECONE_ENVIRONMENT }}
        VOYAGEAI_API_KEY: ${{ secrets.VOYAGEAI_API_KEY }}
        LOG_LEVEL: INFO
        USE_MODERATION: false
      run: |
        if [ "${{ inputs.force_update }}" = "true" ]; then
          python main.py pinecone_update ${{ inputs.datasource }} --force_update=True
        else
          python main.py pinecone_update ${{ inputs.datasource }}
        fi
